.toolbar{
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
    width: 95%;
    margin-bottom: 50px;
}
.createPost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}