.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
  
  justify-content: space-between;
  width: 310px;
  margin: 1;
  height: 100%;

 
}

.tags{
	box-sizing: border-box;
    background-color: rgb(92, 199, 92);
    color: rgba(255, 255, 255, 0.85);
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  
}

.body{
  cursor: pointer;
}


img{
  max-width: 100%;
  max-height: 100%;
  width: 310px;
 
}

.footer{
  align-items:baseline;
  justify-content: space-between;
  width: 310px;
}

.p{
    display: block;
    display: -webkit-box;
  max-width: 300px;
  max-height: 300;
  -webkit-line-clamp: 4; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

